apiai==1.2.1
backports.ssl-match-hostname==3.5.0.1
decorators==0.1
Django==1.10.4
firmata==0.3
numpy==1.11.2
pkg-resources==0.0.0
pyserial==3.2.1
requests==2.12.3
six==1.10.0
slackclient==1.0.2
websocket-client==0.40.0
